@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

.LPContainer {
    background-image: linear-gradient(to top, #000, transparent, transparent, transparent),
    url('../../assets/img/cnbg2.png');
    background-position: center;
    height: 90vh;
}

@font-face {
    font-family: 'assassin';
    src: local('a-assassin-ninja-font'), url(../../assets/fonts/a-assassin-ninja-font/AssassinNinja-w12j8.otf) format('opentype');
}

@font-face {
    font-family: 'helvetica';
    src: local('helvetica-neue-font'), url(../../assets/fonts/helvetica-neue-font/HelveticaNeueLT57Condensed.woff) format('opentype');
}

.font {
    font-family: 'Helvetica';
}

.startofContent {
    background: linear-gradient(to bottom, #0a0a0a, #121212, #212121)
}

.endofContent {
    background: linear-gradient(to top, #0a0a0a, #121212, #212121)
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 14);
    animation: scroll 25s linear infinite;
}


@keyframes scroll {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}

.image {
    width: 100%;
}



.faq-content {
    background-color: #202020;
    font-family: 'helvetica';
}

.faq-container {
    font-family: Arial, Helvetica, sans-serif;
}
